*{
  border: 0;
  margin: 0;
  padding: 0;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body {
  background-image: url("./Assets/church_pic1.jpeg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 90vw 40.5vw;
  background-position-y: 25vh;
  background-position-x: 15vw;
  background-color: rgb(0,134,197);
}

#headerContainer{
  display: flex;
  height: 25vh;
  width: 100vw;
  border-bottom: 1px solid white;
  justify-content: center;
  align-content: center;
}

#headerTitle {
  font-size: 10vh;
  color: white;
  margin: 5vh 5vw;
}

#sidebarContainer{
  display: flex;
  justify-content: left;
  top: 25vh;
  height: 75vh;
  width: 15vw;
  border-right: 1px solid white;
  
}

#sidebarMenu{
  color: white;
  font-size: 2vw;
  margin: 1vh 1vw;
}

#newspostWrapper{
  display: flex;
  flex-direction: column;
  justify-content: left;
  position: absolute;
  top: 26vh;
  left: 16vw;
  height: 50vh;
  width: 80vw;
  margin: 2vh 2vw;
  border: 1px solid white;
  background-color: rgba(0,134,197,0.8);
}

#newspostTitle{
  color: white;
  font-size: 2vw;
  margin: 1vh 1vw;
}

#newspostBody{
  color: white;
  margin: 1vh 1vw;
}